<section class="footer">
  <nav class="navbar fixed-bottom navbar-light bg-faded text-center">
    <a href="https://twitter.com/GSMgo" class="btn btn-secondary">Twitter</a>
    <a href="mailto:gsmgo.mail@gmail.com?Subject=Hey%20Gerardo!" class="btn btn-secondary">Mail</a>
  </nav>
</section>