<div class="main-screen">
  <div class="name-container d-flex flex-column align-items-center justify-content-center">
    <h1 id="first-name">Gerard
      <img src="assets/selfie.png" class="rounded-circle" id="selfie"></img>
    </h1>
    <h1 id="last-name">Sandoval</h1>
    <h5 id="web-developer">Web Developer</h5>
  </div>

  <div class="nav-bar d-flex justify-content-center">
    <a href="#">About Me</a>
    <a href="#">Blog</a>
    <a href="#">Work</a>
    <a href="#">Contact</a>
  </div>

  <div class="footer d-flex flex-column align-items-center justify-content-center">
    <div class="social-icons">
      <a href="https://www.facebook.com/GerardoSM">
        <img src="assets/social/facebook.png" class="social-icon">
      </a>
      <a href="https://twitter.com/GSMgo">
        <img src="assets/social/twitter.png" class="social-icon">
      </a>
      <a href="https://www.instagram.com/gsmgo">
        <img src="assets/social/instagram.png" class="social-icon">
      </a>
    </div>
  </div>

</div>