<!--   <div class="name-container d-flex flex-column align-items-center justify-content-center">
    <h1 id="first-name">Gerard
      <img src="assets/selfie.png" class="rounded-circle" id="selfie"></img>
    </h1>
    <h1 id="last-name">Sandoval</h1>
    <h5 id="web-developer">Web Developer</h5>
  </div>  -->

<div class="container-fluid">
  <div class="text-center">
    <h1 id="first-name">Gerard
      <img src="assets/selfie.png" class="rounded-circle" id="selfie"></img>
    </h1>
    <h1 id="last-name">Sandoval</h1>
    <h5 id="web-developer">Web Developer</h5>
  </div>

  <nav class="row text-center nav-bar">
    <div class="col-sm-3 col-6 blog">
      <a href="#">Blog</a>
    </div>
    <div class="col-sm-3 col-6 work">
      <a href="#">Work</a>
    </div>
    <div class="col-sm-3 col-6 contact">
      <a href="#">Contact</a>
    </div>
    <div class="col-sm-3 col-6 about-me">
      <a href="#">About Me</a>
    </div>
  </nav>

  <footer>
    <div class="social-icons">
      <a href="https://www.facebook.com/GerardoSM">
        <img src="assets/social/facebook.png" class="social-icon">
      </a>
      <a href="https://twitter.com/GSMgo">
        <img src="assets/social/twitter.png" class="social-icon">
      </a>
      <a href="https://www.instagram.com/gsmgo">
        <img src="assets/social/instagram.png" class="social-icon">
      </a>
    </div>
  </footer>
</div>