<div class="main-cointainer text-center">
  <div class="main-info">
    <img src="assets/selfie.png" class="rounded-circle" id="selfie">
    </img>
    <h2 id="my-name">Gerardo Sandoval Marín</h2>
    <h5 id="my-description">Web Developer</h5>
    
    <div class="social-icons">
      <a href="https://www.facebook.com/GerardoSM">
        <img src="assets/social/facebook.png" class="social-icon">
      </a>
      <a href="https://twitter.com/GSMgo"">
        <img src="assets/social/twitter.png" class="social-icon">
      </a>
      <a href="https://www.instagram.com/gsmgo"">
        <img src="assets/social/instagram.png" class="social-icon">
      </a>
      <a href="https://www.linkedin.com/in/gsmgo/">
        <img src="assets/social/linkedin.png" class="social-icon">
      </a>
      <a href="mailto:gsmgo.mail@gmail.com":>
        <img src="assets/social/email.png" class="social-icon">
      </a>
    </img>
    </div>
  </div>
</div>