<div class="main-cointainer text-center">
  <div class="align-middle">
    <img src="assets/selfie.png" class="rounded-circle" id="selfie">
    </img>
    <h2 id="my-name">Gerardo Sandoval Marín</h2>
    <div class="social-icons">
    </div>
  </div>
</div>