body{
  .main-cointainer{
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Handycheera';

    #selfie{
      top: 20px;
      height: 140px;
      width: 140px;
      border: 1px solid #E9ECF5; 
    }

    #name{
      margin-top: 20px;
      font-size: 120px;
    }

    #first-last-name{
      margin-top: -40px;
      font-size: 120px;
    }

    #last-last-name{
      margin-top: -40px;
      font-size: 120px;
    }

    .social-icon{
      margin: 5px;
      height: 25px;
      width: 25px;
      border-radius: 50%;
    }
  }
}